# Week of databases
don't forget to installl the package:

In [ ]:
! pip install mysql-connector-python

## Connect to the database

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()
#this is where you now do stuff!
print(dbconnection.database)

cursor.close()
dbconnection.close()

## CREATING DATA IN DB

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "INSERT INTO actors(name) VALUES('Kevin Hart');"
cursor.execute(query)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [4]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    user = "root",
    password = "", #IF YOU CHANGED PORT? THERE IS NO PW LINKED TO THAT NEW PORT!
    database = "movies_db"
)

cursor = dbconnection.cursor()
query = "INSERT INTO actors(name) VALUES(%s);"

data = [["Dwayne the rock Johnson"], ["Leonardo Di Caprio"], ["Megan Fox"], ["Angelina Jolie"], ["Monica Belucci"],
        ["Johnny Depp"], ["Christian Bale"], ["Benedict Cumberbatch"], ["Margot Robbie"]]

cursor.executemany(query, data)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    user = "root",
    password = "", #IF YOU CHANGED PORT? THERE IS NO PW LINKED TO THAT NEW PORT!
    database = "movies_db"
)

cursor = dbconnection.cursor()
query = "INSERT INTO movies(title, synopsis) VALUES(%s, %s);"

data = [("Oppenheimer", "BIG BOMBA"), ("Scarface", "Gangster"), ("The dictator", "Alladeen trying to push a point bomb"),
        ("The imitation game", "Decrypts stuff"), ("Jurrasic Park", "Random dino's going rampage"), ("The mask", "Looney Loki")]

#insert all of the movies into the database
cursor = dbconnection.cursor()
for movie in data:
    cursor.execute(query, movie)

#also possible: cursor.executemany(query, data)
dbconnection.commit()

cursor.close()
dbconnection.close()

## READING FROM DATABASES --> select

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "SELECT  * FROM actors;"
cursor.execute(query)

data = cursor.fetchall()
print(data)

for actor in data:
    print(actor)

for id, actor in data:
    print(actor)

cursor.close()
dbconnection.close()

[(1, 'Michelle Yeoh'), (2, 'Stephan James'), (3, 'Jamie Lee Curtis'), (4, 'Tom Cruise'), (5, 'Kevin Hart'), (6, 'Kevin Hart'), (7, 'Dwayne the rock Johnson'), (8, 'Leonardo Di Caprio'), (9, 'Megan Fox'), (10, 'Angelina Jolie'), (11, 'Monica Belucci'), (12, 'Johnny Depp'), (13, 'Christian Bale'), (14, 'Benedict Cumberbatch'), (15, 'Margot Robbie')]
(1, 'Michelle Yeoh')
(2, 'Stephan James')
(3, 'Jamie Lee Curtis')
(4, 'Tom Cruise')
(5, 'Kevin Hart')
(6, 'Kevin Hart')
(7, 'Dwayne the rock Johnson')
(8, 'Leonardo Di Caprio')
(9, 'Megan Fox')
(10, 'Angelina Jolie')
(11, 'Monica Belucci')
(12, 'Johnny Depp')
(13, 'Christian Bale')
(14, 'Benedict Cumberbatch')
(15, 'Margot Robbie')
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
Kevin Hart
Kevin Hart
Dwayne the rock Johnson
Leonardo Di Caprio
Megan Fox
Angelina Jolie
Monica Belucci
Johnny Depp
Christian Bale
Benedict Cumberbatch
Margot Robbie

In [5]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = """select movies.title, actors.name from movies
        inner join movie_actor on movies.id = movie_actor.movie_id
        inner join actors on movie_actor.actor_id = actors.id;"""

cursor.execute(query)
data = cursor.fetchall()

for row in data:
    print(row)

for movie, actor in data:
    print(actor, "played in", movie)

cursor.close()
dbconnection.close()

('Everything Everywhere All at Once', 'Michelle Yeoh')
('Everything Everywhere All at Once', 'Stephan James')
('Everything Everywhere All at Once', 'Jamie Lee Curtis')
('Top Gun: Maverick', 'Tom Cruise')
Michelle Yeoh played in Everything Everywhere All at Once
Stephan James played in Everything Everywhere All at Once
Jamie Lee Curtis played in Everything Everywhere All at Once
Tom Cruise played in Top Gun: Maverick

## UPDATE QUERY

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()

#cursor.execute("INSERT into movies(title) VALUES ('Barbie pink palace')") --> run one time to see active update
query = """UPDATE movies SET synopsis = 'Barbie exploring her pink palace, lots of danger and scary stuff'
WHERE title like 'Barbie pink palace';"""
cursor.execute(query)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [ ]:
#scrape the awards from https://en.wikipedia.org/wiki/List_of_Academy_Award%E2%80%93winning_films
#and push all of it into the database
import requests
from bs4 import BeautifulSoup
import mysql.connector

url = "https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films"
headers = {'User-Agent': 'Anthony'}

response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text)


dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()

table = soup.find("table")
rows = soup.find_all("tr")

for row in rows:
    td = row.find_all("td")
    if len(td) > 0:
        title = td[0].get_text().strip().replace("'","")
        year = td[1].get_text().strip()
        awards = td[2].get_text().strip()
        nominations = td[3].get_text().strip()

        #select query to see what's already inside, then push everything
        query = "SELECT * FROM movies WHERE title like '" + title + "';"
        cursor.execute(query)
        data = cursor.fetchall()

        if len(data) == 0:
            query = f"INSERT into movies(title) values('{title}');"
            cursor.execute(query)
            dbconnection.commit()
            movie_id = cursor.lastrowid

            query = """INSERT into awards(movie_id, awardshow_id, year, awards, nominations)
            values(%s, %s, %s, %s, %s)"""

            values = (movie_id, 1, year, awards, nominations)
            cursor.execute(query, values)
            dbconnection.commit()

cursor.close()
dbconnection.close()

IndexError: list index out of range