# Week of databases
don't forget to installl the package:

In [ ]:
! pip install mysql-connector-python

## Connect to the database

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()
#this is where you now do stuff!
print(dbconnection.database)

cursor.close()
dbconnection.close()

## CREATING DATA IN DB

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "INSERT INTO actors(name) VALUES('Kevin Hart');"
cursor.execute(query)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [4]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    user = "root",
    password = "", #IF YOU CHANGED PORT? THERE IS NO PW LINKED TO THAT NEW PORT!
    database = "movies_db"
)

cursor = dbconnection.cursor()
query = "INSERT INTO actors(name) VALUES(%s);"

data = [["Dwayne the rock Johnson"], ["Leonardo Di Caprio"], ["Megan Fox"], ["Angelina Jolie"], ["Monica Belucci"],
        ["Johnny Depp"], ["Christian Bale"], ["Benedict Cumberbatch"], ["Margot Robbie"]]

cursor.executemany(query, data)
dbconnection.commit()

cursor.close()
dbconnection.close()

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    user = "root",
    password = "", #IF YOU CHANGED PORT? THERE IS NO PW LINKED TO THAT NEW PORT!
    database = "movies_db"
)

cursor = dbconnection.cursor()
query = "INSERT INTO movies(title, synopsis) VALUES(%s, %s);"

data = [("Oppenheimer", "BIG BOMBA"), ("Scarface", "Gangster"), ("The dictator", "Alladeen trying to push a point bomb"),
        ("The imitation game", "Decrypts stuff"), ("Jurrasic Park", "Random dino's going rampage"), ("The mask", "Looney Loki")]

#insert all of the movies into the database
cursor = dbconnection.cursor()
for movie in data:
    cursor.execute(query, movie)

#also possible: cursor.executemany(query, data)
dbconnection.commit()

cursor.close()
dbconnection.close()

## READING FROM DATABASES --> select

In [ ]:
import mysql.connector

dbconnection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    #port = "3307" --> FOR THE PEOPLE THAT CHANGED PORT
    database = "movies_db"
)

cursor = dbconnection.cursor()

query = "SELECT  * FROM actors;"
cursor.execute(query)

data = cursor.fetchall()
print(data)

for actor in data:
    print(actor)

for id, actor in data:
    print(actor)

cursor.close()
dbconnection.close()

[(1, 'Michelle Yeoh'), (2, 'Stephan James'), (3, 'Jamie Lee Curtis'), (4, 'Tom Cruise'), (5, 'Kevin Hart'), (6, 'Kevin Hart'), (7, 'Dwayne the rock Johnson'), (8, 'Leonardo Di Caprio'), (9, 'Megan Fox'), (10, 'Angelina Jolie'), (11, 'Monica Belucci'), (12, 'Johnny Depp'), (13, 'Christian Bale'), (14, 'Benedict Cumberbatch'), (15, 'Margot Robbie')]
(1, 'Michelle Yeoh')
(2, 'Stephan James')
(3, 'Jamie Lee Curtis')
(4, 'Tom Cruise')
(5, 'Kevin Hart')
(6, 'Kevin Hart')
(7, 'Dwayne the rock Johnson')
(8, 'Leonardo Di Caprio')
(9, 'Megan Fox')
(10, 'Angelina Jolie')
(11, 'Monica Belucci')
(12, 'Johnny Depp')
(13, 'Christian Bale')
(14, 'Benedict Cumberbatch')
(15, 'Margot Robbie')
Michelle Yeoh
Stephan James
Jamie Lee Curtis
Tom Cruise
Kevin Hart
Kevin Hart
Dwayne the rock Johnson
Leonardo Di Caprio
Megan Fox
Angelina Jolie
Monica Belucci
Johnny Depp
Christian Bale
Benedict Cumberbatch
Margot Robbie